---
permalink: "about/index.html"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_analytics.liquid" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assign title = "Sutta Basket &mdash; About" %}
        {% assign description = "Hi, I'm Alec Fernandes, and I run SuttaBasket.com" %}
        {% assign url = "https://suttabasket.com/about" %}
        {% include "partials/_metatags_general.liquid" %}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div id="header-text">
                <h1>Sutta Basket</h1>
                <h2>about</h2>
            </div>
            <nav>
                <a href="/">home</a>
                |
                <a href="/tags">tags</a>
                |
                {% include "partials/_social.liquid" %}
            </nav>
        </header>
        <main class="solid-bg">
            <p>
                <em>Coming soon!</em>
            </p>
        </main>
        {% include "partials/_footer.liquid" %}
    </body>
</html>