---
permalink: "about/index.html"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sutta Basket &mdash; About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div id="header-text">
                <h1>About Sutta Basket</h1>
            </div>
            <nav>
                <a href="/">home</a>
                |
                <a href="/tags">tags</a>
                |
                {% include "partials/_social.liquid" %}
            </nav>
        </header>
        <main class="solid-bg">
            <p>
                <em>Coming soon!</em>
            </p>
        </main>
        {% include "partials/_footer.liquid" %}
    </body>
</html>