<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assign title = "Sutta Basket" %}
        {% assign description = "unpacking Buddhist wisdom" %}
        {% assign url = "https://suttabasket.com" %}
        {% include "partials/_metatags_general.liquid" %}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div id="header-wrap">
                <h1>Sutta Basket</h1>
                <nav>
                    <a href="/tags">tags</a>
                    |
                    <a href="/about">about</a>
                    |
                    {% include "partials/_social.liquid" %}
                </nav>
            </div>
        </header>
        <main>
            {% assign posts = posts.all_posts %}
            {% include "partials/_grid.liquid" %}
        </main>
        {% include "partials/_footer.liquid" %}

        <script src="/scripts/format-local-dates.js"></script>
    </body>
</html>