<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sutta Basket &mdash; Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="scrolling-bg-wrapper">
            <header>
                <div id="heading-text">
                    <h1>Sutta Basket</h1>
                </div>
                <nav>
                    <a href="/tags">tags</a>
                    |
                    <a href="/about">about</a>
                    |
                    {% include "partials/_social.liquid" %}
                </nav>
            </header>
            <main>
                {% assign isHome = true %}
                {% for post in posts.all_posts %}
                    {% include "partials/_preview.liquid" %}
                {% endfor %}
            </main>
            {% include "partials/_footer.liquid" %}
        </div>

        <script src="/scripts/format-local-dates.js"></script>
    </body>
</html>