<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sutta Basket &mdash; Home</title>
    </head>
    <body>
        <h1>Sutta Basket</h1>
        <ul>
            {% for post in posts.all_posts %}
                <li>
                    <a href="/suttas/{{ post.id | slugify }}.html">{{ post.title }}</a>
                    (<span class="date">{{ post.date.seconds }}</span>)
                </li>
            {% endfor %}
        </ul>
        <a href="/admin">admin</a>

        <script src="/scripts/format-local-dates.js"></script>
    </body>
</html>