---
pagination:
    data: posts.tags
    size: 1
    alias: tag
permalink: "tags/{{ tag[0] | slugify }}.html"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sutta Basket tag &mdash; {{ tag[0] }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Sutta Basket Tags</h1>
            <h2>tag: {{ tag[0] }}</h2>
            <nav>
                <a href="/">home</a>
                |
                <a href="/tags">all tags</a>
                |
                <a href="/about">about</a>
            </nav>
        </header>
        <main>
            {% for post in tag[1] %}
                {% include "partials/_preview.liquid" %}
            {% endfor %}
        </main>
    </body>
</html>