<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assign title = "Sutta Basket &mdash; All Tags" %}
        {% assign description = "See all the different types of posts on SuttaBasket.com" %}
        {% include "partials/_metatags_general.liquid" %}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div id="header-text">
                <h1>Sutta Basket</h1>
                <h2>all tags</h2>
            </div>
            <nav>
                <a href="/">home</a>
                |
                <a href="/about">about</a>
                |
                {% include "partials/_social.liquid" %}
            </nav>
        </header>
        <main class="solid-bg">
            <ul>
                {% for tag in posts.tags %}
                    <li>
                        <a href="/tags/{{ tag[0] | slugify }}.html">
                            {{ tag[0] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </main>
        {% include "partials/_footer.liquid" %}
    </body>
</html>