<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sutta Basket &mdash; All Tags</title>
        <link rel="stylesheet" href="/css/tags.css">
    </head>
    <body>
        <header>
            <h1>Sutta Basket &mdash; All Tags</h1>
            <nav>
                <a href="/">home</a>
                |
                <a href="/about">about</a>
                |
                {% include "partials/_social.liquid" %}
            </nav>
        </header>
        <main>
            <ul>
                {% for tag in posts.tags %}
                    <li>
                        <a href="/tags/{{ tag[0] | slugify }}.html">
                            {{ tag[0] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>