<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_analytics.liquid" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assign title = "Sutta Basket &mdash; All Tags" %}
        {% assign description = "See all the different types of posts on SuttaBasket.com" %}
        {% assign url = "https://suttabasket.com/tags" %}
        {% include "partials/_metatags_general.liquid" %}
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/info.css">
    </head>
    <body>
        <header>
            <div id="header-wrap">
                <h2>Sutta Basket</h2>
                <nav>
                    <a href="/">home</a>
                    |
                    <a href="/about">about</a>
                    |
                    {% include "partials/_social.liquid" %}
                </nav>
            </div>
        </header>
        <main>
            <div id="content">
                <h1>All Tags</h1>
                <ul>
                    {% for tag in posts.tags %}
                        <li>
                            <a href="/tags/{{ tag[0] | slugify }}.html">
                                {{ tag[0] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
        {% include "partials/_footer.liquid" %}
    </body>
</html>