@import "./colors.scss";
@import "./fonts.css";
@import "./social.css";

$padding: 10px;
:root {
    --padding: 10px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $bg-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
    font-size: 18px;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover;
    }
}

h1,
h2 {
    font-family: "Melodrama", Arial, Helvetica, sans-serif;
}

$dim: 300px;
$extra: 2 * $padding;

header,
footer {
    background-image: url("/assets/wicker4.jpg");
    background-position: center;
    background-size: 200px;

    a {
        color: inherit;
        font-weight: bold;
    }
}

header {
    background-color: #f6e5cc;
    padding: 0 $padding;
    position: relative;

    #header-wrap {
        max-width: 4 * $dim;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding: $padding;
        z-index: 2;

        & > * {
            flex: 1;
        }

        h1,
        h2 {
            font-size: 1.5em;
            line-height: 1.05;
            margin: 0;

            em {
                font-size: 0.8em;
            }
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 5px 10px;
            text-transform: uppercase;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

footer {
    height: 80px;
    background-color: #f6e5cc;
    display: flex;
    align-items: center;
    justify-content: center;
}
