$article-box-bg: #fff0dd;
$bg-color: #e9d0ac;
$link-color: #287386;
$link-hover: #7da3ad;
$nav-bg: #ffd49d;
$tags-bg: #f6e5cc;
$text-color: #513931;

html,
body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
