$bg-color: #fff1de;
$accent: #f6e5cc;
$link-color: #3d91a5;
$link-hover: #32b2d2;
$text-color: #513931;

html,
body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
