@import "./fonts.css";

ul.commas {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Just Another Hand";
    font-size: 1.4em;
    gap: 1px 5px;
    justify-content: center;
    line-height: 1em;
    margin: 0;
    padding: 0;

    li {
        display: inline-flex;

        &:last-child::after {
            content: "";
        }

        &::after {
            content: ", ";
        }
    }
}
