@import "./social.css";
@import "./comma-list.css";
@import "./fonts.css";
html,
body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #513931;
  background-attachment: fixed;
  background-color: #004b5e;
  background-image: url("/assets/wicker3.jpg");
  background-position: center;
  background-size: 200px;
  display: flex;
  flex-direction: column;
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  margin: 0;
}

a {
  color: #287386;
}
a:hover {
  color: #7da3ad;
}

h1,
h2 {
  font-family: "Just Another Hand";
}

h1 {
  background-image: url("../assets/wicker3.jpg");
  background-position: center;
  background-size: 200px;
  font-family: "Just Another Hand";
  font-size: 4rem;
  font-weight: normal;
  line-height: 4.15rem;
  position: relative;
  top: 0.15rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header,
footer {
  text-align: center;
}

header {
  min-height: 140px;
}
header,
header #header-text {
  display: flex;
  flex-direction: column;
}
header #header-text {
  align-items: center;
  justify-content: center;
  flex: 1;
  background-image: linear-gradient(to bottom, #004b5e, #2d849a);
  color: #fff0dd;
  padding: 10px;
}
header #header-text h1,
header #header-text h2 {
  margin: 0;
}
header #header-text h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
header #header-text h1.nudge {
  top: 0.5rem;
}
header #header-text h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5rem;
}
header nav {
  background-color: #f6e5cc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-transform: uppercase;
}
header nav a {
  font-weight: bold;
  text-decoration: none;
}
header nav #social a {
  display: flex;
}

footer {
  height: 80px;
  background-image: linear-gradient(to top, #004b5e, #2d849a);
  color: #fff0dd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
footer .admin-link {
  color: #fff0dd;
  font-style: italic;
  text-decoration: none;
}

:root {
  --gap: 30px;
  --margin: 30px;
  --min-width: 250px;
}

main {
  max-width: 900px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px 30px;
}
main.solid-bg {
  width: 100%;
  background-color: #e9d0ac;
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
main.solid-bg ul {
  font-weight: bold;
  padding-left: 0;
}
main article {
  width: 100%;
  max-width: calc(50% - var(--gap) / 2);
  min-width: 250px;
  background-color: #f6e5cc;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
  text-align: center;
}
main article.newest-post {
  max-width: 100%;
}
main article.newest-post:not(.no-image) {
  gap: 8px;
}
main article.newest-post:not(.no-image) .heading-and-image {
  --image-gap: 15px;
  gap: var(--image-gap);
}
main article.newest-post:not(.no-image) .heading-and-image .image-preview {
  width: calc(65% - var(--image-gap));
  margin: auto;
}
main article.newest-post:not(.no-image) .heading-and-image .heading {
  width: 35%;
}
@media only screen and (max-width: 675px) {
  main article.newest-post:not(.no-image) {
    gap: 20px;
  }
  main article.newest-post:not(.no-image) .heading-and-image .image-preview,
  main article.newest-post:not(.no-image) .heading-and-image .heading {
    width: 100%;
  }
}
main article .heading-and-image {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
main article .heading-and-image .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
main article .heading-and-image .heading h2,
main article .heading-and-image .heading h3,
main article .heading-and-image .heading p {
  margin: 0;
  text-align: center;
}
main article .heading-and-image .heading h2 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2.3rem;
}
main article .heading-and-image .heading h2 a {
  text-decoration: none;
}
main article .heading-and-image .heading .date,
main article .heading-and-image .heading .sutta-name {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
main article .heading-and-image .heading .date {
  font-style: italic;
  margin-bottom: 0;
}
main article .heading-and-image .heading .sutta-name {
  margin-top: 0;
}
main article .heading-and-image .heading .read-more-link {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #287386;
  border-radius: 6px;
  color: #fff;
  margin: 0 auto;
  padding: 5px 8px;
  text-decoration: none;
}
main article .heading-and-image .heading .read-more-link:hover {
  background-color: #7da3ad;
}
main article .heading-and-image .image-preview {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin: 0;
}
main article .heading-and-image .image-preview img {
  width: 100%;
  border-radius: 10px;
}
main article .tags-wrapper {
  display: flex;
  align-items: flex-end;
  flex: 1;
}
main article .tags-wrapper ul.tags.commas {
  width: 100%;
  background-color: #fff0dd;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
}

@media only screen and (max-width: 620px) {
  main {
    padding: 30px calc(var(--margin) / 2);
  }
  main article {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */