body {
    margin: 0;
}

header,
footer {
    text-align: center;
    padding: 15px;
}

main {
    --gap: 15px; // native variable for mixed-unit calc()
    $gap: 15px; // sass variable for media query below
    --min-width: 250px; // native variable for mixed-unit calc()
    $min-width: 250px; // sass variable for media query below

    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;

    article {
        width: 100%;
        max-width: calc(50% - (var(--gap) / 2));
        min-width: var(--min-width);
        background-color: #eee;
        box-sizing: border-box;
        padding: 15px;

        &.newest-post {
            max-width: 100%;
        }

        .sutta-name {
            font-style: italic;
        }

        figure {
            width: 100%;
            background-color: #ddd;
            margin: 0 0 2.4rem;

            img {
                width: 100%;
            }

            figcaption {
                font-style: italic;
            }
        }
    }

    @media only screen and (max-width: ($min-width * 2 + $gap)) {
        article {
            max-width: 100%;
        }
    }
}
