@import "./social.css";
@import "./comma-list.css";
@import "./colors.scss";

html {
    height: 100%;
}

body {
    min-height: 100%;
    color: $text-color;
    background-attachment: fixed;
    background-color: #513931;
    background-image: url("/assets/wicker.jpg");
    background-position: center;
    background-size: 200px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover;
    }
}

header,
footer {
    text-align: center;
}

header {
    height: 140px;
    border-bottom: 5px solid $bg-color;
    margin-bottom: 50px;

    &,
    #heading-text {
        display: flex;
        flex-direction: column;
    }

    #heading-text {
        align-items: center;
        justify-content: center;
        flex: 1;
        background-image: linear-gradient(to bottom, #513931, #a78868);
        color: $tags-bg;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1,
        h2 {
            margin: 0;
        }
    }

    nav {
        background-color: $article-box-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        text-transform: uppercase;

        a {
            text-decoration: none;
        }

        #social {
            a {
                display: flex;
            }
        }
    }
}

footer {
    height: 80px;
    background-image: linear-gradient(to top, #513931, #a78868);
    border-top: 5px solid $bg-color;
    color: $tags-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 15px;

    .admin-link {
        color: $tags-bg;
        font-style: italic;
        text-decoration: none;
    }
}

main {
    --gap: 15px; // native variable for mixed-unit calc()
    $gap: 15px; // sass variable for media query below
    --min-width: 250px; // native variable for mixed-unit calc()
    $min-width: 250px; // sass variable for media query below
    $margin: 15px;

    max-width: 900px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
    padding: 0 $margin;

    article {
        $article-padding: 8px;

        width: 100%;
        max-width: calc(50% - (var(--gap) / 2));
        min-width: var(--min-width);
        background-color: $article-box-bg;
        border: 5px solid $bg-color;
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: $article-padding;
        text-align: center;

        &.newest-post {
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;

            #heading-and-image {
                figure {
                    width: 65%;
                }

                #heading {
                    width: 35%;
                }

                @media only screen and (max-width: 675px) {
                    figure,
                    #heading {
                        width: 100%;
                    }
                }
            }
        }

        #heading-and-image {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;

            #heading,
            figure {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #heading {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2,
                h3,
                p {
                    margin: 0;
                    text-align: center;
                }

                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.5rem;
                }

                .date {
                    font-style: italic;
                    margin-bottom: 0;
                }

                .sutta-name {
                    margin-top: 0;
                }

                .read-more-link {
                    width: fit-content;
                    background-color: $link-color;
                    border-radius: 6px;
                    color: #fff;
                    margin: 0 auto;
                    padding: 5px 8px;
                    text-decoration: none;

                    &:hover {
                        background-color: $link-hover;
                    }
                }
            }

            figure {
                width: 100%;
                box-sizing: border-box;
                display: inline-flex;
                flex: 1;
                flex-direction: column;
                margin: 0;

                & > a {
                    display: inline-flex;

                    img {
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                }

                figcaption {
                    background-color: $tags-bg;
                    border-radius: 0 0 10px 10px;
                    padding: 5px;
                    font-style: italic;
                }
            }
        }

        .tags-wrapper {
            display: flex;
            align-items: flex-end;
            flex: 1;

            ul.tags.commas {
                width: 100%;
                background-color: $tags-bg;
                border-radius: 10px;
                box-sizing: border-box;
                padding: 5px;
            }
        }
    }

    @media only screen and (max-width: ($margin * 2 + $min-width * 2 + $gap)) {
        article {
            max-width: 100%;

            &.newest-post {
                #heading-and-image {
                    figure {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}
