@import "./social.css";
@import "./comma-list.css";
@import "./fonts.css";
@import "./colors.scss";

:root {
    --nav-height: 85px;
}

html,
body {
    height: 100%;
}

body {
    background-color: $tags-bg;
    color: $text-color;
    font-size: 19px;
    margin: 0;
}

body,
button {
    font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover;
    }
}

button {
    font-size: 0.95em;
}

main {
    height: 100%;
    position: relative;

    .pagination {
        display: flex;
        gap: 20px;
        justify-content: space-evenly;
        font-size: 0.95em;
        line-height: 1.3em;
        margin-bottom: 30px;

        & > span {
            flex: 1;

            &:last-child {
                text-align: right;
            }

            &.alone {
                text-align: center;
            }
        }
    }

    .scroll-wrapper {
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
        padding: clamp(10px, 4vw, 30px);
    }

    article,
    #sutta {
        position: absolute;
        left: 0;
        right: 0;

        .max-width-wrapper {
            max-width: 800px;
            margin: auto;
        }
    }

    article {
        height: calc(100% - var(--nav-height));
        bottom: 0;

        p {
            font-size: 1.05em;
            line-height: 1.4em;
        }

        .scroll-wrapper {
            height: 100%;

            #heading-and-image {
                --gap: 15px;

                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--gap);

                &:not(.no-image) {
                    #heading {
                        width: 35%;
                    }

                    figure {
                        width: calc(65% - var(--gap));
                    }
                }

                #heading,
                figure {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                #heading {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h1,
                    h2,
                    p {
                        margin: 0;
                        text-align: center;
                    }

                    h1 {
                        font-family: "Melodrama", "Times New Roman", Times,
                            serif;
                        font-size: 2em;
                        line-height: 1.1em;
                    }

                    h2 {
                        font-size: 1.4em;
                        font-weight: 600;
                    }

                    .date {
                        font-style: italic;
                    }
                }

                figure {
                    background-color: $article-box-bg;
                    flex: 1;
                    margin: 0;

                    a {
                        display: inline-flex;

                        img {
                            width: 100%;
                        }
                    }

                    figcaption {
                        font-size: 0.95em;
                        font-style: italic;
                        line-height: 1.3em;
                        text-align: center;
                    }
                }
            }

            @media only screen and (max-width: 675px) {
                #heading-and-image {
                    gap: 30px;

                    &:not(.no-image) {
                        figure,
                        #heading {
                            width: 100%;
                        }
                    }
                }
            }

            #content {
                padding-top: 30px;

                p:first-child::first-letter {
                    float: left;
                    font-family: "Melodrama", "Times New Roman", Times, serif;
                    font-size: 3em;
                    line-height: 0.8em;
                    margin: 0.1em 0.1em 0 0;
                }
            }

            .tags.commas {
                margin-bottom: 30px;
            }
        }
    }

    #sutta {
        height: 100%;
        background-color: #333;
        color: #eee;
        display: flex;
        flex-direction: column;
        top: calc(-100% + var(--nav-height));
        transition: top 1.2s;

        #note-buttons {
            background-color: $article-box-bg;
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
            justify-content: center;
            text-align: center;

            button {
                height: 30px;
                width: 30px;
                appearance: none;
                background-color: $link-color;
                border: 0;
                border-radius: 0;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                font-weight: 600;
                line-height: 0;
                padding: 0;

                &:hover {
                    background-color: $link-hover;
                    cursor: pointer;
                }
            }
        }

        .scroll-wrapper {
            flex: 1;

            #hierarchy {
                & > details,
                & > p {
                    margin: 10px;
                }

                details summary,
                & > p {
                    font-style: italic;
                }
            }

            table#text {
                tr {
                    td {
                        &.title {
                            font-weight: 600;
                        }

                        &.line-number {
                            color: #777;
                            font-size: 0.75em;
                            padding-right: 8px;
                            text-align: right;
                            user-select: none; /* Standard syntax */
                            -webkit-user-select: none; /* Safari */
                            -ms-user-select: none; /* IE 10 and IE 11 */
                        }

                        .highlight {
                            background-color: $link-color;
                        }
                    }
                }
            }
        }

        nav {
            height: var(--nav-height);
            display: flex;
            flex-direction: column;

            & > * {
                width: 100%;
                box-sizing: border-box;
            }

            #nav-links {
                background-color: $article-box-bg;
                color: $text-color;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 5px 10px;
                padding: 5px;

                a {
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                #social {
                    a {
                        display: flex;
                    }
                }
            }

            #toggle-sutta {
                appearance: none;
                background-color: $link-color;
                border: 0;
                border-radius: 0;
                color: #fff;
                flex: 1;
                font-size: 1.1em;
                margin: 0;

                &:hover {
                    background-color: $link-hover;
                    cursor: pointer;
                }
            }
        }
    }
}
