@import "./social.css";
@import "./comma-list.css";
html,
body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

:root {
  --nav-height: 80px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff0dd;
  color: #513931;
  margin: 0;
}

a {
  color: #287386;
}
a:hover {
  color: #7da3ad;
}

button {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

main {
  height: 100%;
  position: relative;
}
main .pagination {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  font-size: 0.9rem;
  margin-bottom: 30px;
}
main .pagination > span {
  flex: 1;
}
main .pagination > span:last-child {
  text-align: right;
}
main .pagination > span.alone {
  text-align: center;
}
main .scroll-wrapper {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: clamp(10px, 4vw, 30px);
}
main article,
main #sutta {
  position: absolute;
  left: 0;
  right: 0;
}
main article .max-width-wrapper,
main #sutta .max-width-wrapper {
  max-width: 800px;
  margin: auto;
}
main article {
  height: calc(100% - var(--nav-height));
  bottom: 0;
}
main article .scroll-wrapper {
  height: 100%;
}
main article .scroll-wrapper #heading-and-image {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
main article .scroll-wrapper #heading-and-image #heading,
main article .scroll-wrapper #heading-and-image figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main article .scroll-wrapper #heading-and-image #heading {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main article .scroll-wrapper #heading-and-image #heading h1,
main article .scroll-wrapper #heading-and-image #heading h2,
main article .scroll-wrapper #heading-and-image #heading p {
  margin: 0;
  text-align: center;
}
main article .scroll-wrapper #heading-and-image #heading h1 {
  font-size: 2rem;
}
main article .scroll-wrapper #heading-and-image #heading h2 {
  font-size: 1.5rem;
}
main article .scroll-wrapper #heading-and-image #heading .date {
  font-style: italic;
}
main article .scroll-wrapper #heading-and-image figure {
  width: 65%;
  background-color: #f6e5cc;
  flex: 1;
  margin: 0;
}
main article .scroll-wrapper #heading-and-image figure a {
  display: inline-flex;
}
main article .scroll-wrapper #heading-and-image figure a img {
  width: 100%;
}
main article .scroll-wrapper #heading-and-image figure figcaption {
  font-style: italic;
  text-align: center;
}
@media only screen and (max-width: 675px) {
  main article .scroll-wrapper #heading-and-image figure,
  main article .scroll-wrapper #heading-and-image #heading {
    width: 100%;
  }
}
main article .scroll-wrapper #content {
  padding-top: 30px;
}
main article .scroll-wrapper #content p:first-child::first-letter {
  float: left;
  font-size: 3rem;
  line-height: 0.8;
  margin: 0.1em 0.1em 0.1em 0;
}
main article .scroll-wrapper .tags.commas {
  font-weight: bold;
  margin-bottom: 30px;
}
main #sutta {
  height: 100%;
  background-color: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  top: calc(-100% + var(--nav-height));
  transition: top 1.2s;
}
main #sutta #note-buttons {
  min-height: calc(var(--nav-height) * 0.4);
  background-color: #e9d0ac;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  text-align: center;
}
main #sutta #note-buttons button {
  height: calc(var(--nav-height) * 0.4);
  width: calc(var(--nav-height) * 0.4);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #287386;
  border: 0;
  border-radius: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 0;
}
main #sutta #note-buttons button:hover {
  background-color: #7da3ad;
  cursor: pointer;
}
main #sutta .scroll-wrapper {
  flex: 1;
}
main #sutta .scroll-wrapper #hierarchy > details, main #sutta .scroll-wrapper #hierarchy > p {
  margin: 10px;
}
main #sutta .scroll-wrapper #hierarchy details summary, main #sutta .scroll-wrapper #hierarchy > p {
  font-style: italic;
}
main #sutta .scroll-wrapper table#text tr td.title {
  font-weight: bold;
}
main #sutta .scroll-wrapper table#text tr td.line-number {
  color: #777;
  font-size: 0.75rem;
  padding-right: 8px;
  text-align: right;
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}
main #sutta .scroll-wrapper table#text tr td .highlight {
  background-color: #287386;
}
main #sutta nav {
  height: var(--nav-height);
  background-color: #e9d0ac;
}
main #sutta nav > * {
  width: 100%;
}
main #sutta nav #nav-links {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main #sutta nav #nav-links a {
  text-decoration: none;
  text-transform: uppercase;
}
main #sutta nav #nav-links #social a {
  display: flex;
}
main #sutta nav #toggle-sutta {
  height: 60%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #287386;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
}
main #sutta nav #toggle-sutta:hover {
  background-color: #7da3ad;
  cursor: pointer;
}/*# sourceMappingURL=sutta.css.map */