body {
  background-color: #ffe7bd;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0 5px;
}

hr {
  height: 1.5px;
  background-color: #e5a537;
  border: 0;
}

#sign-in {
  text-align: center;
}
#sign-in table label {
  width: 100%;
  text-align: right;
  display: inline-block;
}

#sticky-nav {
  align-items: center;
  background-color: rgba(255, 219, 156, 0.8);
  flex-direction: column;
  padding-top: 5px;
  position: sticky;
  top: 0;
}
#sticky-nav,
#sticky-nav div,
#sticky-nav form {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5px;
}
#sticky-nav > div {
  flex-direction: column;
}
#sticky-nav button {
  padding: 3px 7px;
}
#sticky-nav form input {
  width: 60px;
}
#sticky-nav #sutta-buttons {
  overflow-x: auto;
}
#sticky-nav #sutta-buttons button {
  background-color: chocolate;
}

summary:hover {
  cursor: pointer;
}

header,
main,
#sticky-nav {
  max-width: 750px;
  margin: auto;
}

header,
ul {
  text-align: center;
}

main ul#hierarchy {
  padding-left: 0;
}

#blog-form {
  text-align: center;
}
#blog-form form {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#blog-form form > *:not(button[type=submit]) {
  width: 100%;
  box-sizing: border-box;
}
#blog-form form input,
#blog-form form textarea {
  background-color: rgb(255, 219, 156);
}
#blog-form form input {
  padding: 15px 5px;
}
#blog-form form textarea {
  padding: 5px;
}
#blog-form form label {
  margin-top: 15px;
}
#blog-form form button[type=submit] {
  width: 100px;
  margin: 15px auto;
  padding: 3px 5px;
}
#blog-form form textarea#content {
  height: 300px;
}

button,
input,
select,
textarea {
  height: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  box-sizing: content-box;
  font-size: 0.9rem;
  padding: 3px 4px;
}

button {
  background-color: #e5a537;
  color: #fff;
  font-weight: bold;
}
button:hover {
  background-color: orange;
  cursor: pointer;
}
button#cite, button#save, button#delete {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  z-index: 1;
}
button#cite {
  bottom: 110px;
}
button#save {
  bottom: 55px;
}
button#delete {
  bottom: 0;
  background-color: rgb(112, 0, 0);
}

input,
select {
  background-color: #fff;
  color: #000;
}

form,
ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.highlight {
  background-color: yellow;
}

ul {
  list-style-type: none;
}

main > div > div {
  padding-bottom: 15px;
}

small {
  color: #e5a537;
}

table {
  width: 100%;
}
table#lines {
  margin: 1.5rem auto;
}
table#note-buttons {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  overflow-x: auto;
}
table#note-buttons tr,
table#note-buttons td {
  display: flex;
}
table#note-buttons tr td {
  flex-direction: column;
  gap: 2px;
}
table#note-buttons tr td button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: brown;
  box-sizing: border-box;
  line-height: 0;
  padding: 0;
}
table#note-buttons tr td button.edit-note-button {
  font-weight: normal;
}
table tr td {
  vertical-align: top;
}
table tr td.line-number {
  font-size: 0.75rem;
  padding-right: 4px;
  text-align: right;
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}
table tr td.line-number .hidden-regex {
  width: 0;
  display: inline-block;
  opacity: 0;
}

.title {
  margin: 0;
  font-weight: bold;
}

.warning {
  color: maroon;
  text-align: center;
}/*# sourceMappingURL=admin.css.map */