{% if post.image_url != "" %}
    <figure>
        <a href="/suttas/{{ post.id | slugify }}.html">
            <img src="{{ post.image_url }}" />
        </a>
        {% if post.image_caption != "" %}
            <figcaption>{{ post.image_caption }}</figcaption>
        {% endif %}
    </figure>
{% endif %}