{% assign page_num = pagination.pageNumber | plus: 1 %}
{% assign max_pages = pagination.hrefs.length %}
<div class="pagination">
    {% if page_num > 1 %}
        <span {% if pagination.page.next == null %}class="alone"{% endif %}>
            previous:
            <a href="{{ pagination.href.previous }}">
                {{ pagination.page.previous.title }}
            </a>
        </span>
    {% endif %}
    {% if page_num < max_pages %}
        <span {% if pagination.page.previous == null %}class="alone"{% endif %}>
            next:
            <a href="{{ pagination.href.next }}">
                {{ pagination.page.next.title }}
            </a>
        </span>
    {% endif %}
</div>