<div id="social">
    <a
        href="https://tiktok.com/@suttabasket"
        target="_blank"
        rel="noreferrer">
        <img src="/assets/icons/social/tiktok.png" />
    </a>
    <a
        href="https://twitter.com/suttabasket"
        target="_blank"
        rel="noreferrer">
        <img src="/assets/icons/social/twitter.png" />
    </a>
    <a
        href="https://instagram.com/suttabasket"
        target="_blank"
        rel="noreferrer">
        <img src="/assets/icons/social/instagram.png" />
    </a>
</div>